.Footer-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.Footer-navigation-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Footer-social-network-container {
  width: 20%;
}

.Footer-nav {
  width: 40%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Footer-social-networks {
  width: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2%;
}

.Footer-social-networks > img {
  cursor: pointer;
}

.Footer-copyright {
  font-size: 8pt;
}